
.carousel-inner > .carousel-item >img,
.carousel-inner > .carousel-item>a>img{
 
margin: auto;
 height: 70vh;

}




@media (max-width: 480px) {


  .carousel-inner > .carousel-item >img,
.carousel-inner > .carousel-item>a>img{
 
 height: 40vh;

}

.landingFoot{
margin-top: 12rem ;
bottom: 0;
}
  
}
